body {
  font-family: 'Open Sans', sans-serif;
  color: #333;
  background-color: #fff;
  font-size: 12px;
}
h1 {
	font-size: 50px;
}
h1.noMatch {
	font-size: 33px;
}
h2 {
	font-size: 14px;
}
#tinderslide {
    padding-top: 100%;
}


@media (min-width: 768px) {
	body {
	  font-size: 23px;
	}
	h1 {
		font-size: 95px;
	}
	h1.noMatch {
		font-size: 65px;
	}
	h2 {
		font-size: 29px;
	}
	#progress-label, .tryAgainLink, .submitEmail {
		font-size: 18px;
	}
	#tinderslide {
	    padding-top: 90%;
	}
}

@media (min-width: 992px){
.container {
    width: 610px;
}
}
@media (min-width: 1200px){
.container {
    width: 750px;
}
}

a:focus, a:hover {
    color: #fff;
    text-decoration: none;
}

.masthead {
  display: none;
}
.mastfoot {
  display: none;
}

@-webkit-keyframes fadeInBg { from { background-color: #fff; } to { background-color: #3b3b3b; } }
@-moz-keyframes fadeInBg { from { background-color: #fff; } to { background-color: #3b3b3b; } }
@keyframes fadeInBg { from { background-color: #fff; } to { background-color: #3b3b3b; } }

body.greyBg {
	-webkit-animation:fadeInBg ease-in 1;
	-moz-animation:fadeInBg ease-in 1;
	animation:fadeInBg ease-in 1;

	-webkit-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-duration:0.5s;
	-moz-animation-duration:0.5s;
	animation-duration:0.5s;
	
	-webkit-animation-delay: 0.1s;
	-moz-animation-delay: 0.1s;
	animation-delay: 0.1s;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

#Page3, #Page4 {
	//opacity:0
}
body.greyBg #Page3, body.greyBg #Page4 {
	-webkit-animation:fadeIn ease-in 1;
	-moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;

	-webkit-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-duration:0s;
	-moz-animation-duration:0s;
	animation-duration:0s;
	
	-webkit-animation-delay: 1s;
	-moz-animation-delay: 1s;
	animation-delay: 1s;
}

.binderLogo {
	cursor: pointer;
	margin-top: 15px;
}

.startPageLogo {
    width: 72%;
    margin: 10% auto 20%;
}
.startPageLogo img {
    width: 100%;
}
.startPageText {
    width: 77%;
	margin: 0 auto 15%;
	text-align: center;
}

.closeButton {
	cursor: pointer;
	margin-top: 30px;
}

.buttonDiv {
	display: block;
	text-align: center;
}
.startButtonLink {
	display: inline-block;     
	position: relative;    
	z-index: 1;     
	padding: 2em;     
	margin: -1em; 
}
.startButton {
	background-color: #f16464;
    border-radius: 10px;
	line-height: 75px;
	height: 75px;
	display: inline-block;
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
    overflow: hidden;
    white-space: nowrap;
	box-sizing: border-box;
	width: 300px;
	letter-spacing: 0.5px;
}
.startButton:hover {
	background-color: #d44949;
}
.startButton.closeButton {
    width: 200px;
}

/* BINDER PAGE */
#progress-label {
    line-height: 28px;
	color: #666666;
    text-align: right;
    display: block;
}

#tinderslide ul {
    margin: 0;
    display: block;
}

#tinderslide li {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 2;
    left: 0;
    overflow: hidden;
    text-align: center;
    color: #000;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    background: #fff;
    border-radius: 20px;
}

/* Image text */
#tinderslide li .text {
    margin: auto;
}
#tinderslide li .text h2 {
    color: #ff6b6b;
    text-transform: uppercase;
    font-weight: 600;
}
#tinderslide li .text p {
    color: #444444;
    width: 90%;
    margin: auto;
}

/* Like & dislike badge images */
#tinderslide .like,
#tinderslide .dislike {
    background: url("../img/liked.png") no-repeat scroll 0 0;
    opacity: 0;
    height: 80px;
    position: absolute;
    width: 170px;
    left: 5%;
    top: 5%;
    z-index: 1;
    overflow: hidden;
    -webkit-transform: translate3d(0%,0,0) scale3d(1,1,1);
    -moz-transform: translate3d(0%,0,0) scale3d(1,1,1);
    -ms-transform: translate3d(0%,0,0) scale3d(1,1,1);
    -o-transform: translate3d(0%,0,0) scale3d(1,1,1);
    transform: translate3d(0%,0,0) scale3d(1,1,1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

#tinderslide .dislike {
    right: 5%;
    left: auto;
    background: url("../img/nope.png") no-repeat scroll 0 0;
}

/* Image container */
#tinderslide .img {
	height: 67%;
    border-radius: 20px;
    margin-bottom: 5%;
    position: relative;
    -webkit-transform: translate3d(0%,0,0) scale3d(1,1,1);
    -moz-transform: translate3d(0%,0,0) scale3d(1,1,1);
    -ms-transform: translate3d(0%,0,0) scale3d(1,1,1);
    -o-transform: translate3d(0%,0,0) scale3d(1,1,1);
    transform: translate3d(0%,0,0) scale3d(1,1,1);
    overflow: hidden;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(0,0,0) scale3d(1,1,1);
    -webkit-transform-style: preserve-3d;
}
#tinderslide .img img {
    width: 100%;
    height: 100%;
}

/* Action - buttons */
.actions {
    text-align: center;
    width: 304px;
    margin: 0 auto;
    overflow: hidden;
}

.actions div {
    position: relative;
    display: inline-block;
    margin-right: -4px;
}

.actions {
    width: 66%;
    padding-top: 5%;
}

.actions button i {
    display: inline-block;
    width: 40px;
    height: 80px;
}

.actions button.dislike i {
    background: url("../img/dislike_button.png") no-repeat scroll center center;
    background-size: contain;
}
.actions button.dislike i {
    display: inline-block;
    width: 29%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.actions button.like i {
    background: url("../img/like_button.png") no-repeat scroll center center;
    background-size: contain;
}
.actions button.like i {
    display: inline-block;
    width: 33%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.actions button {
    float: left;
    display: block;
    background-color: #f7f7f7;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#e7e7e7));
    background-image: -webkit-linear-gradient(top, #f7f7f7, #e7e7e7);
    background-image: -moz-linear-gradient(top, #f7f7f7, #e7e7e7);
    background-image: -ms-linear-gradient(top, #f7f7f7, #e7e7e7);
    background-image: -o-linear-gradient(top, #f7f7f7, #e7e7e7);
    color: #a7a7a7;
    margin: 36px;
    width: 80px;
    height: 80px;
    position: relative;
    text-align: center;
    line-height: 144px;
    border-radius: 50%;
    outline: none;
    box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
	border: none;
}
.actions button {
	background: url("../img/button_bg.png") no-repeat scroll 0 0;
    background-size: cover;
	width: 40%;
	padding-top: 40%;
    margin: 0 5%;
	box-shadow: none;
	position: relative;
}

.actions button:hover{
  text-decoration: none;
  color: #555;
  background: #f5f5f5;
}
.actions button:hover, .actions button:disabled {
	opacity: 0.7;
}
.actions button:hover {
    background: url("../img/button_bg.png") no-repeat scroll 0 0;
    background-size: cover;
}


/* MATCH PAGE */
.matchHeadDiv {
	text-align: center;
	margin-top: 10%;
}
.matchHeader {
	color: #fff;
	font-family: 'Parisienne', cursive;
}
.matchText {
	color: #eee;
}

.matchImages {
    margin-bottom: 10%;
    margin-top: 5%;
}
.matchImages.noMatch {
    margin-bottom: 0%;
}
.matchCircle {
	position: relative;
	display: inline-block;
	padding-top: 100%;
	width: 100%;
	height: auto;
	border: 6px solid #fff;
	border-radius: 50%;
	background: #ccc;
}
.matchCircle.saren {
	background: url("../img/saren.jpg") no-repeat scroll 0 0;
	background-size: cover;
}
.circleContainer {
	position: absolute;
	top: 38%;
	left: 38%;
	width: 100%;
}
.circleSmall {
    position: absolute;
    width: 25%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 50%;
    padding-top: 25%;
	display: none;
}

/* jTinder images */
#match_pane16.circleSmall {
    background: url("../img/pane/markkinoinninautomaatio4.jpg") no-repeat scroll center center;
    background-size: cover;
}
#match_pane15.circleSmall {
    background: url("../img/pane/myynninanalytiikka1.jpg") no-repeat scroll center center;
    background-size: cover;
}
#match_pane14.circleSmall {
    background: url("../img/pane/kannattavuuslaskenta2.jpg") no-repeat scroll center center;
    background-size: cover;
}
#match_pane13.circleSmall {
    background: url("../img/pane/crm4.jpg") no-repeat scroll center center;
    background-size: cover;
}
#match_pane12.circleSmall {
    background: url("../img/pane/puusti.jpg") no-repeat scroll center center;
    background-size: cover;
}
#match_pane11.circleSmall {
    background: url("../img/pane/verkkokauppaB2C3.jpg") no-repeat scroll center center;
    background-size: cover;
}
#match_pane10.circleSmall {
    background: url("../img/pane/B2Bverkkokauppa2.jpg") no-repeat scroll center center;
    background-size: cover;
}
#match_pane9.circleSmall {
    background: url("../img/pane/jalkimarkkinointi.jpg") no-repeat scroll center center;
    background-size: cover;
}
#match_pane8.circleSmall {
    background: url("../img/pane/asiakaspalvelu.jpg") no-repeat scroll center center;
    background-size: cover;
}
#match_pane7.circleSmall {
    background: url("../img/pane/lounas.jpg") no-repeat scroll center center;
    background-size: cover;
}
#match_pane6.circleSmall {
    background: url("../img/pane/pim2.jpg") no-repeat scroll center center;
    background-size: cover;
}
#match_pane5.circleSmall {
    background: url("../img/pane/masterdata.jpg") no-repeat scroll center center;
    background-size: cover;
}
#match_pane4.circleSmall {
    background: url("../img/pane/palvelumuotoilu.jpg") no-repeat scroll center center;
    background-size: cover;
}
#match_pane3.circleSmall {
    background: url("../img/pane/viini.jpg") no-repeat scroll center center;
    background-size: cover;
}
#match_pane2.circleSmall {
    background: url("../img/pane/sovelluskehitys2.jpg") no-repeat scroll center center;
    background-size: cover;
}
#match_pane1.circleSmall {
    background: url("../img/pane/saparkkitehtuuri.jpg") no-repeat scroll center center;
    background-size: cover;
}

.contactButton {
	background: url("../img/short_logo.png") no-repeat scroll 10px center;
    border: 1px solid #DDD;
    border-radius: 20px;
	padding-left: 53px;
	padding-right: 10px;
	line-height: 50px;
	height: 50px;
	display: inline-block;
	text-decoration: none;
}
.tryAgainLink {
	display: block;
	text-transform: uppercase;
	margin-top: 5%;
}


/* MESSAGE PAGE*/
.chat {
    margin-top: 12%;
}

.bubble{
    background-color: #e6e6eb;
    border-radius: 5px;
    display: inline-block;
    padding: 6%;
    position: relative;
    vertical-align: top;
	max-width: 75%;
	text-align: left;
}

.bubble::before {
    background-color: #e6e6eb;
    content: "\00a0";
    display: block;
    height: 16px;
    position: absolute;
    top: 60%;
    transform:             rotate( 29deg ) skew( -35deg );
        -moz-transform:    rotate( 29deg ) skew( -35deg );
        -ms-transform:     rotate( 29deg ) skew( -35deg );
        -o-transform:      rotate( 29deg ) skew( -35deg );
        -webkit-transform: rotate( 29deg ) skew( -35deg );
    width:  20px;
}

.bubble.you {
    float: left;   
    margin: 5px 0 5px 20px;         
}

.bubble.you::before {
    left: -9px;           
}

.bubble.me {
    float: right;    
    margin: 5px 20px 5px 0;
	background-color: #298cfa;
	color: #fff;
}

.bubble.me::before {
    right: -9px;
	background-color: #298cfa;
	color: #fff;
}

.bubbleimage {
    width: 15%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 50%;
    padding-top: 15%;
}
.bubbleimage.you {
	float: left;
	margin-top: 5%;
	background: url("../img/saren.jpg") no-repeat scroll 0 0;
	background-size: cover;
}
.bubbleimage.me {
	float: right;
	margin: 0;
	display: none;
}

/* Keyframes for the fade-in */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

@-webkit-keyframes fadeInEmpty { from { height:100px; } to { height:0; } }
@-moz-keyframes fadeInEmpty { from { height:100px; } to { height:0; } }
@keyframes fadeInEmpty { from { height:100px; } to { height:0; } }

@-webkit-keyframes fadeInClose { from { height:0; } to { height:100px; } }
@-moz-keyframes fadeInClose { from { height:0; } to { height:100px; } }
@keyframes fadeInClose { from { height:0; } to { height:100px; } }

.bubblediv.last {
	display: none;
}
.bubblediv, .bubblediv.last.animation {
	display: block;
}
.bubblediv.last .row {
	opacity: 0;
}
.bubblediv.last.animation .row {
	-webkit-animation:fadeIn ease-in 1;
	-moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;

	-webkit-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-duration:0s;
	-moz-animation-duration:0s;
	animation-duration:0s;
	
	-webkit-animation-delay: 1s;
	-moz-animation-delay: 1s;
	animation-delay: 1s;
}
.bubblediv.emptyBlock {
	height: 100px;
	visibility: hidden;
}
.bubblediv.emptyBlock.animation {
	-webkit-animation:fadeInEmpty ease-in 1;
	-moz-animation:fadeInEmpty ease-in 1;
	animation:fadeInEmpty ease-in 1;

	-webkit-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-duration:0s;
	-moz-animation-duration:0s;
	animation-duration:0s;
	
	-webkit-animation-delay: 1s;
	-moz-animation-delay: 1s;
	animation-delay: 1s;
}
#bubbleCloseBtn {
	height: 0px;
	margin-top: 5%;
	overflow: hidden;
}
#bubbleCloseBtn .startButton {
	margin: 2px;
}
#bubbleCloseBtn.animation {
	-webkit-animation:fadeInClose ease-in 1;
	-moz-animation:fadeInClose ease-in 1;
	animation:fadeInClose ease-in 1;

	-webkit-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-duration:0s;
	-moz-animation-duration:0s;
	animation-duration:0s;
	
	-webkit-animation-delay: 1s;
	-moz-animation-delay: 1s;
	animation-delay: 1s;
}
.bubblediv.you {
	float: left;
	margin: 0;
}
.bubblediv.me {
	float: right;
	margin: 0;
}
.chatText {
	display: block;
	text-align: left;
}
.chatEmail {
	display: inline-block;
	color: #333;
	vertical-align: middle;
    margin-top: 10px;
    border: none;
    padding: 5px;
    width: 80%;
	height: 45px;
}
.chatEmail.error {
	background: lightpink;
	border: 1px solid red;
}
.submitEmail {
	display: inline-block;
	background: #fff;
	vertical-align: middle;
	color: #298cfa;
	padding: 10px 0;
    border-radius: 10px;
    margin-top: 10px;
    width: 13%;
    text-align: center;
    cursor: pointer;
}
.submitEmail:active {
    opacity: 0.7;
}


.diagnose{
	display:none;
}
.diagnoseImage{
	display: inline-block;
	width: 100px;
	height: 100px;
	border: 1px solid #ddd;
}
.diagnoseText{
	display: inline-block;
}
.diagnoseDrink{
	display: block;
	width: 500px;
	height: 400px;
	border: 1px solid #ddd;
}
.prog {
	height: 90%;
	width: 50px;
	border: 1px solid #ddd;
	position: fixed;
	top: 5%;
}

.filler {
	height: 0%;
	width: 50px;
	position: absolute;
	bottom: 0;
	border: 1px solid #ddd;
	background: #ddd url("../img/bubbles.gif") repeat-y scroll 0 0;
	background-size: 200%;
}