<div class="col-xs-2">
	<div class="prog">
		<div id="filler" class="filler"></div>
	</div>
</div>
<div class="col-xs-10">
	<p>Diagnoosisi on....</p>
	<div id="diagnose1" class="diagnose">
		<div class="diagnoseImage">
		</div>
		<div class="diagnoseText">
			Diagnoosi 1
		</div>
		<div class="diagnoseDrink">
		</div>
	</div>
	<div id="diagnose2" class="diagnose">
		<div class="diagnoseImage">
		</div>
		<div class="diagnoseText">
			Diagnoosi 2
		</div>
		<div class="diagnoseDrink">
		</div>
	</div>
	<div id="diagnose3" class="diagnose">
		<div class="diagnoseImage">
		</div>
		<div class="diagnoseText">
			Diagnoosi 3
		</div>
		<div class="diagnoseDrink">
		</div>	
	</div>
	<div id="diagnose4" class="diagnose">
		<div class="diagnoseImage">
		</div>
		<div class="diagnoseText">
			Diagnoosi 4
		</div>
		<div class="diagnoseDrink">
		</div>	
	</div>
	<div id="diagnose5" class="diagnose">
		<div class="diagnoseImage">
		</div>
		<div class="diagnoseText">
			Diagnoosi 5
		</div>
		<div class="diagnoseDrink">
		</div>	
	</div>

	<div class="buttonDiv col-xs-12">
		<p>Jos tässä ei ole vielä tarpeeksi ja haluat osallistua viinilaatikon arvontaan, jätä sähköpostiosoitteesi tähän</p>
		<input type="email" placeholder="Sähköpostiosoitteeni" value="" id="chatEmail" class="chatEmail"/>
		<div class="submitEmail" onclick="return submitEmail();">Lähetä</div>
		<p class="chatText"></p>

		<a class="tryAgainLink" href="#" onclick="return toStartPage();">Palaa alkuun</a>
	</div>
</div>